 .box{
 	width: 100px;
 	height: 100px;
 }
 .red{
 	background-color: red;
 }
 .green{
 	width: 100px;
 	height: 100px;
 	background-color: green;
 	margin: 50px;
 }
 h1{
  display: inline;  
 }
 h2{
    display: inline-block;
 }
 .frame{
    height: 520px;
    width: 49%;
 }
 h3 span{
    color: blue;
 }
 .mf{
    width: 100%;
    height: 450px;
 }
 .wrapper{
    width: 60%;
    margin:0 auto;
    border: 5px solid black;
 }
 label{
    font-size: 25px;
 }
 .first_name, .last_name, .email, .password{
    width: 90%;
    height: 30px;
    padding: 5px;
    font-size: 18px;
 }
 .message{
    font-size: 20px;
    padding: 10px;

 }
 table{
width: 100%;
border: 5px solid skyblue;
 }
 th, td{
 font-size: 20px;
 text-align: center;
border: 5px solid skyblue;
 }
 caption{
    font-size: 30px;
 }
td:hover {
    background-color: #ddd;
}

